<div class="container">
  <div class="row text-center mt-4 titleDiv">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <ng-container *ngFor="let row of rows;index as i;">
    <div class="row mt-5 h-64">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <ng-container *ngFor="let val of values.get(i)">
            <span *ngIf="val" class="mlr-1">
              <img src="../assets/image/match.png" height="64"/>
            </span>
        </ng-container>
      </div>
      <div class="col-2 text-center">
        <button class="btn btn-primary btnColor" (click)="makePassiveLastElement(i)">{{ row }}</button>
      </div>
    </div>
  </ng-container>
  <div class="row mt-6 p-2 text-center titleDiv">
    <div class="col-2">
      <button class="btn btn-success" (click)="newGame()">New Game</button>
    </div>
    <div class="col-8 fs1-3">
      <b>Playing :</b> User {{ isUser1 ? '1' :'2'}}
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="makeOpponentMove()">Toggle User</button>
    </div>
  </div>
</div>